*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.box{
    width: 150px;
    aspect-ratio: 1;
    border: 1px solid black;
}
button{
    padding: 10px 22px;
    margin-bottom: 80px;
}
